.container {
  display: block;
}

.options-auto-label {
  font-size: 16px;
}

.options-select-label {
  display: block;
  font-size: 16px;
}

.options-select {
  min-width: 100px;
}

.save-btn {
  font-size: 16px;
  min-width: 100px;
  padding: 5px;
}

.status {
  color: green;
}
