.safe-auth-btn {
  all: unset;
  background-color: lightgray;
  display: inline;
  width: 20px;
  text-align: center;

  float: right;
  clear: right;
}

.safe-auth-btn-level-0 {
  color: gray;
}

.safe-auth-btn-level-1 {
  color: #FF0000;
  /*background-color: #EE8888;*/
}

.safe-auth-btn-level-2 {
  color: #FFA500;
  /*background-color: #EF2D88;*/
}

.safe-auth-btn-level-3 {
  color: #FFFF00;
  /*background-color: #EF8788;*/
}

.safe-auth-btn-level-4 {
  color: #00FF00;
  /*background-color: #99EE99;*/
}

.safe-auth-btn-level-5 {
  color: #66B2FF;
  /*background-color: #99CCFF;*/
}

.safe-auth-btn-level-6 {
  color: #3333FF;
  /*background-color: #9999FF;*/
}

.safe-auth-btn-tooltip {
  position: absolute;
  padding: 10px 20px;
  z-index: 100000;

  border: 1px solid #B3C9CE;
  border-radius: 4px;
  text-align: center;
  font: italic 14px/1.3 arial, sans-serif;
  color: #333;
  background: #FFF;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}